In [7]:
import pickle

In [ ]:
model = 'model.pkl'
pickle.dump(tree, open(model,'wb'))

In [9]:
#load the model
loaded_model = pickle.load(open('stroke.pkl', 'rb'))

In [10]:
loaded_model.head()

,weight,height,BMI,waist_circumference,hypertension,take_HTN_medicine,high_cholesterol,take_HCL_medicine,60_sec_pulse,systolic_bp,...,education_level_9-11th Grade,education_level_College Graduate or Above,education_level_High School,education_level_Less Than 9th Grade,education_level_Some College or AA Degree,education_level_unlnown,marital_status_Married/Partner,marital_status_Never Married,marital_status_Widowed/Divorced/Separated,marital_status_unlnown
0,94.8,184.5,27.8,101.1,0,0,0,0,76.0,122.67,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,90.4,171.4,30.8,107.9,0,0,0,0,72.0,140.00,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,83.4,170.1,28.8,116.5,1,1,1,0,56.0,135.33,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,109.8,160.9,42.4,110.1,0,0,0,0,78.0,134.00,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,55.2,164.9,20.3,80.4,0,0,0,0,76.0,104.00,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
#making a prediction
tree.predict([[0,50,157,50,160,93,76,20.28]])

In [6]:
#load the model
loaded_model = pickle.load(open('C:/Users/skyne/Desktop/AJ/7.05-lesson-streamlit/models/saved-iris-model.pkl', 'rb'))

C:\ProgramData\anaconda3\lib\site-packages\sklearn\base.py:299: UserWarning: Trying to unpickle estimator LogisticRegression from version 1.0 when using version 1.2.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(